{% extends "cafe/bare.html" %}
{% load foundation %}
{% block title %}CommunityLink // Cafe{% endblock %}
{% block content %}

  <div class="row cafe-wrapper">
    <img src="/img/cafe/awning.svg" />
    <div class="cafe-banner">
      <img src="/img/cafe.svg" />
    </div>
    <div class="small-12 columns">
      <h3 class="cafe center uppercase">
        <small>World-class</small> Chamber 
        <small>communications and revenue for world-class</small> 
        Chamber <small>igzekyetivs</small>
      </h3>
    </div>
    <div class="small-12 columns cafe-nav">
    <div class="section-container horizontal-nav" data-section="horizontal-nav" data-options="one_up: false;">
      <section>
        <p class="title" data-section-title><a href="#">Main Dishes</a></p>
        <!-- <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">10 Great Reasons</a></li>
            <li><a href="#">Chamber Alive</a></li>
            <li><a href="#">CommunityLink</a></li>
            <li><a href="#">Faces and Places</a></li>
            <li><a href="#">CommunityLink Xpress</a></li>
            <li><a href="#">Place Maps</a></li>
            <li><a href="#">GO! Maps</a></li>
          </ul>
        </div> -->
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Side Dishes</a></p>
        <!-- <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">Marketwise</a></li>
            <li><a href="#">Social Media Tune-Up</a></li>
            <li><a href="#">Website Tune-Up</a></li>
            <li><a href="#">Chamber Hatchbuck</a></li>
            <li><a href="#">Newsletter Overhaul</a></li>
          </ul>
        </div> -->
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Fixins</a></p>
        <!-- <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">Spotlight</a></li>
            <li><a href="#">Go Big</a></li>
            <li><a href="#">Show Off</a></li>
            <li><a href="#">Why Hello</a></li>
            <li><a href="#">Bonus Bucks</a></li>
          </ul>
        </div> -->
      </section>
      <section>
        <p class="title" data-section-title><a href="/cafe/message-from-the-chef/">Chef's Message</a></p>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Testimonials</a></p>
      </section>
    </div>
    </div>

    <div class="content-cafe">
      <div class="small-12 columns">
      <div class="row">
        <div class="large-8 columns">
          <h2 class="cafe">Like the server at your favorite lunch spot, our role here is simple but vital &hellip;</h2>
          <p>We work with America’s best communities and the Chambers of Commerce that ably represent them. We spread the good word, make it readable, and raise a few bucks for our Chamber clients in the process. The fact is, so much happens through the Chamber on a regular basis that’s worth sharing. When the public really understands the vital role the Chamber plays in the community, it vastly enhances the public’s perception of the Chamber.</p>
          <p>We think the Chamber matters&mdash;a lot. But without rock-solid communication with the community at large through the telling of these great stories involving you, your membership, and the impact on your region, folks too often just don’t know.</p>
          <p>At CommunityLink, we’ve been telling and sharing the most interesting stories from every corner of America’s best communities for nearly two decades, and if we’ve learned anything, it is this: There’s a lot going on out there, and there are stories that need to be told!</p>
                
          <div class="chalkboard">
            <h2 class="cafe">The work of a Chamber Igzekyetiv is never done.</h2>
            <p>Between board meetings, executive board meetings, business after hours, young professional round-ups, Chamber-pro webinars, member management software training, ambassador meetings, staff training, volunteer recruitment, membership drives, Facebook updates, getting the electronic newsletter out, planning the annual dinner, selling mulligans at the annual golf scramble, presenting at the noon Rotary meeting, and more, you can barely catch your breath, much less commit to running a fully sponsored digital and print non-dues media campaign in order to share the wonderful stories of your organization with the community you serve!</p>
            <p>Yet, in your igzekyetiv gut, you know the value of sharing your amazing story with your community. Well, you’re in luck. That&rsquo;s what we do!</p>
          </div>
          
        </div>
        
        <div class="large-4 columns">
          <div class="panel">
            <div class="small-6 columns"><img src="/img/cafe/knife-fork-spoon.svg" /></div>
            <h3 class="cafe">May we suggest a &lsquo;what-do-we-do&rsquo; appetizer?</h3>
            <p>CommunityLink serves-up &ldquo;hot off-the-grill,&rdquo; creative community communications tools like community video, mobile apps, resource guides, community magazines, websites, and printed and digital maps. We write, shoot, edit, photograph, and program, then we mix &rsquo;em in with an award-winning dollop of professional design before serving up the best physical and digital distribution in the business. What you&rsquo;ll get is fast, fresh, tasty Chamber messaging that your entire community responds to. For dessert, we&rsquo;ll hit you with a healthy heaping of non-dues revenue so you can continue to fund important work.</p>
            <p>We know community. We get how it works. We&rsquo;ll bring our fresh eyes to town, identify what makes you special, and position your best attributes for maximum impact. By the time we’re finished, you&rsquo;ll be extra glad you live there!</p>
          </div>
        </div>
      </div>
        
        <div class="row">
        <div class="large-8 large-push-4 columns">
          <h3 class="cafe">Bottom Line:</h3>
          <p>We love what you do, and we love what we do. And we&rsquo;re here to make it fun for you. So sit back. Loosen your belt, grab a sweet tea or the beverage of your choice, and take in all our offerings. Choose a main dish and a pair of sides, and tune it to your taste with some of Chef C-Dub&rsquo;s exclusive fixins. Then, just relax and let us serve you, while you go about your Chamber-lovin&rsquo; day.</p> 
          <a href="#" class="button success right">Browse Main Dishes</a>
          <h2 class="cafe">It&rsquo;s that simple.</h2>
        </div>
        <div class="large-4 large-pull-8 columns guest-check">
          &nbsp;
        </div>

        </div>

      </div>
    </div>
  </div>
{% endblock content %}
