{% extends "frontpage/bare.html" %}
{% block title %}CommunityLink // Welcome{% endblock title %}
{% block content %}
  <div class="row purple-area">
    <div class="large-5 columns">
      <ul data-orbit data-options="navigation_arrows:false; bullets:false; slide_number:false; pause_on_hover:false; timer_show_progress:false; animation:fade; fluid:true;">
        <li><img src="/img/1.jpg" /></li>
        <li><img src="/img/2.jpg" /></li>
        <li><img src="/img/3.jpg" /></li>
        <li><img src="/img/4.jpg" /></li>
        <li><img src="/img/5.jpg" /></li>
        <li><img src="/img/6.jpg" /></li>
        <li><img src="/img/7.jpg" /></li>
        <li><img src="/img/8.jpg" /></li>
        <li><img src="/img/9.jpg" /></li>
      </ul>
    </div>
  
    <div class="large-7 columns">
      <div class="panel">
        <h4>&ldquo;Promoting stronger community by telling better stories.&rdquo; <small>&mdash;Craig Williams</small></h4>
        <h6 class="subheader">We're professional storytellers, and we use our talents to promote stronger community.</h6>
        <h6 class="subheader">We use video, print, the Internet, and mobile devices to spread the word to key, targeted audiences about the meaningful work organizations like yours do every day. </h6>
        <h6 class="subheader">We're experts with years of experience working with chambers of commerce, economic development agencies, municipalities, associations, nonprofits, schools, and more, to boldly promote them and the communities they serve. We understand and value the relevance of what you do, as well as the challenges you face along the way. Our mission is to tell the story of who you are, why you exist, and why it matters to the community you serve. And yours, my friend, is a story begging to be told.</h6>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCommunityLink%2F115032009134&amp;width=300&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:62px;" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>

  <div class="row front-page-lower">
    <ul class="small-block-grid-2 large-block-grid-5">
      <li><a href="/chamber-services/magazines.php"><img src="/img/productnav_publishing.png" alt="Publishing your story"></a></li>
      <li><a href="/chamber-services/marketwise.php"><img src="/img/productnav_mwdeluxe.png" alt="Marketwise Promotional Toolbox"></a></li>
      <li><a href="/faces/"><img src="/img/faces_places.png" alt="Faces and Places"></a></li>
      <li><a href="/marketing/clinkcafe/"><img src="/img/clink_cafe.png" alt="CommunityLink Cafe"></a></li>
      <li><a href="/chamber-services/cloud.php"><img src="/img/productnav_cloud.png" alt="CommunityCloud"></a></li>
    </ul>
  </div>
{% endblock content %}