{% extends "contactus/bare.html" %}
{% load foundation %}
{% block title %}CommunityLink // Contact Us{% endblock %}
{% comment %}Requires ContactListing queryset as variable 'contacts'{% endcomment %}
{% block content %}
  <div class="row purple-area">
    <div class="row">
      <div class="small-6 large-8 small-offset-1 columns">   
        <h1>contact us</h1>
      </div>
    </div>
  </div>

  <div class="row content-default">
    <div class="large-3 columns">
      <h5>+1 800 455-5600</h5>
      <ul class="no-bullet address">
        <li class="street-address">4742 Holts Prairie Road</li>
        <li class="pobox">P.O. Box 306</li>
        <li>
          <ul class="inline-list">
            <li class="city">Pinckneyville</li>
            <li class="state">Illinois</li>
            <li class="zip">62274</li>
          </ul>
        </li>
        <li>+1 (618) 357-8653</li>
        <li><a href="mailto:hello@communitylink.com">hello@communitylink.com</a></li>
        <li><strong>Hours:</strong> 8 a.m. &ndash; 5 p.m. CT, M&ndash;F</li>
      </ul>
    </div>

    <div class="large-4 columns">
      <table>
        <thead>
          <tr>
            <th colspan="2">Staff Directory</th>
          </tr>
        </thead>
        <tbody>
          {% for item in contacts %}
          <tr>
            <td class="name"><a href="mailto:{{ item.email}}">{{ item.name }}</a>  <br />
            <small class="title">{{ item.title }}</small></td>
            <td class="phone"><span class="phone-label">ext.</span> {{ item.extension }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="large-4 columns">
      {% if message_saved %}
      <h6>Thank you.</h6>
      <p>Your message has been saved. <small><a href=".">Send another.</a></small></p>
      {% else %}
      <h6>Leave a message</h6>
       <p>
       <form method="POST"> {% csrf_token %}
        {{ form|foundation }}
        <button type="submit" class="right small button">Send</button>
      </form>
      {% endif %}
    </div>
    <div class="large-1 columns">
    <p>&nbsp;</p>
    </div>
  </div>
  

{% endblock content %}
