<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}CommunityLink // Default{% endblock title %}</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Diplomata:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montez:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Asset:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/app.css">

  <script src="/js/vendor/custom.modernizr.js"></script>

</head>

<body>

  {% block topbar %}
  <div class="row">
    <nav class="top-bar" style="">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="/">
            <img src="/img/logo_reversed.svg" width="120px" height="20px" alt="CommunityLink" />
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          {% if user.is_staff %}
          <li class="" style="text-transform:uppercase;"><a href="/admin/">Admin</a></li>
          {% endif %}
          <li class="" style="text-transform:uppercase;">
            <a href="/contact-us/">Contact Us&emsp; &#9742; <small>800 455-5600</small></a>
          </li>
          {% comment %}
          <li class="symbol"><a href="https://www.facebook.com/pages/CommunityLink/115032009134">roundedfacebook</a></li>
          <li class="symbol"><a href="https://twitter.com/communitylink">roundedtwitterbird</a></li>
          <li class="symbol"><a href="http://www.linkedin.com/companies/communitylink">roundedlinkedin</a></li>
          <li class="symbol"><a href="http://www.youtube.com/communitylink">roundedyoutube</a></li>
          {% endcomment %}
        </ul>
      </section>
    </nav>
  </div>
  {% endblock topbar %}

  {% block content %}  
  <p>This is content.</p>
  {% endblock content %}

  {% block footer %}  
  <div class="row">
    <footer>
        <p>
          &copy; Copyright 1996&ndash;{% now "Y" %} CommunityLink, <br class="hide-for-medium-up" />a division of Craig Williams Creative, Inc. All Rights Reserved.
          &emsp; 
          <a href="{% url "legal" %}#terms">Terms of use</a> &middot; <a href="{% url "legal" %}#privacy">Privacy Policy</a>
        </p>
    </footer>
  </div>
  {% endblock footer %}
  {% block extrabody %}{% endblock extrabody %}
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="/js/foundation/foundation.js"></script>
  <script src="/js/foundation/foundation.tooltips.js"></script>
  <script src="/js/foundation/foundation.forms.js"></script>
  <script src="/js/foundation/foundation.orbit.js"></script>
  <script src="/js/foundation/foundation.reveal.js"></script>
  <script src="/js/foundation/foundation.alerts.js"></script>
  <script src="/js/foundation/foundation.section.js"></script>
  <script src="/js/foundation/foundation.magellan.js"></script>
  <script src="/js/foundation/foundation.clearing.js"></script>
  <script src="/js/foundation/foundation.cookie.js"></script>
  <script src="/js/foundation/foundation.joyride.js"></script>
  <script src="/js/foundation/foundation.abide.js"></script>
  <script src="/js/foundation/foundation.dropdown.js"></script>
  <script src="/js/foundation/foundation.topbar.js"></script>
  <script src="/js/foundation/foundation.interchange.js"></script>
  <script src="/js/foundation/foundation.placeholder.js"></script>
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
